# System Files
.DS_Store
__MACOSX
Thumbs.db

# Sublime
*.sublime-project
*.sublime-workspace

# Wiki
kata.js.wiki

# node.js
.grunt/
node_modules/
npm-debug.log
yarn-error.log
output/
SpecRunner.html
index.html
/coverage
/reports
.nyc_output
.stryker-tmp
